article {
    background:  #0000;;
    display: grid;
    grid-template-columns: 5fr 20fr 4.6fr;
    grid-template-rows: 75fr 5fr; 

}
a:link {
    background-color: ;
}
header {
    text-align: center;
    background-color: darkgrey;
    padding: 5px;
}
section.main {
    margin-left: 10%;
    margin-right: 10%;

}
section.sources {
    margin-left: 10%;
    margin-right: 10%;
    border: rgb(105, 103, 103) 1px;
    border-radius: 10px;
    background-color: darkgrey;

}
article img {
    float: left;
}